* {
    --color-1: #1a5ccd;
    --color-2: #9d66df;
    color: var(--color-1);
}

body {
    font-family: monospace;
    background: linear-gradient(rgb(237, 155, 237), rgb(120, 120, 221));
    min-height: 100vh;
    padding: 3rem;
    color: var(--color-1);
    font-size: 1rem;
    max-width: 100%;
}

h1 {
    font-size: 2.5rem;
    color: var(--color-1);
    text-align: center;
    margin-bottom: 2rem;
}

h2 {
    font-size: 2.0rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

button, form input[type="submit"]{
    background: var(--color-2);
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    border: 0.1rem solid transparent;
    font-size: 1rem;
}

main > button {
    display: block;
    margin: 2rem auto;
    padding: 1rem 2rem;
}

button:hover, main > button:hover, form input[type="submit"]:hover{
    box-shadow: 0 0.05rem 0.15rem purple;
}

.authentication-button {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    text-decoration: none;
}

input {
    padding: 1rem;
    font-size: 1rem;
    border: 0.1rem solid transparent;
    background: white;
}

input:focus {
    outline: none;
    border-color: var(--color-2);
    background: white;
}

select {
    padding: 0.4rem 0.6rem;
    background-color: white;
    height: 2.5rem;
    font-family: inherit;
    font-size: 1rem;
}

select:focus {
    outline: none;
    border-color: var(--color-2);
    border-width: 0.1rem;
}

form {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

form input[type="submit"], form button {
    width: auto;
    border: 0.1rem solid transparent;
    align-self: flex-start;
    margin-right: 0.5rem;
}

form input[type="submit"]:hover {
    box-shadow: 0 0.2rem 0.6rem green;
}

p {
    text-align: center;
    padding: 2rem;
    background: white;
    border-radius: 1rem;
}

button + form, form + form {
    margin-top: 1rem;
}

button:disabled,
input[type="submit"]:disabled {
    background: var(--color-1);
    opacity: 0.6;
}

a {
    padding-right: 1.5rem;
    font-size: 1.1rem;
}

li {
    padding: 0.5rem 0.5rem;
}

a.router-link-active {
    color: black;
    text-decoration: none;
}

.tone-indicator {
    display: inline-block;
    padding: 0.1rem 0.4rem;
    border-radius: 0.6rem;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

.tone-excited {
    background-color: #ffe600;
    color: #000;
}

.tone-happy {
    background-color: #00ff08;
    color: black;
}

.tone-joking {
    background-color: #ff9800;
    color: white;
}

.tone-neutral {
    background-color: #ffffff;
    color: black;
}

.tone-sad {
    background-color: #008cff;
    color: white;
}

.tone-bored {
    background-color: #845646;
    color: white;
}

.tone-annoyed {
    background-color: #ff3c00;
    color: white;
}

.tone-mad {
    background-color: #ff0000;
    color: white;
}